html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica;  
}

.titletext {
    margin-left: 1%;
}

.container {
  display: flex;
}

label {
  margin-left: 1%;
}

.titlecard {
    border: 2px black solid;
    background-color: #f9f9f9;
    width: 100%;
}

.sidebysidetitlecard {
    border: 2px black solid;
    background-color: #f9f9f9;
    display: inline-block;
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
}

.card {
    border: 2px black solid;
    width: 100%;
}

.sidebysidegraph {
    display: inline-block;
    width: 49.5%;
    padding-left: 0px;
    padding-right: 0px;
}

.sidebysidecurve {
    border: 2px black solid;
    width: 50%;
    padding-left: 0px;
    padding-right: 1px;
}

.sidebysidecard {
    border: 2px black solid;
    display: inline-block;
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
}
/*start of new CSS */

table {
  border-collapse: collapse;
  border-spacing: 0;
  height: 100%;
  width: 100%;
}

table td, table th {
  border: 1px black solid;
  padding: 0.4em;
}

.parametertable {
  border: 1px black solid;
}

.performancetable {
  border: 1px black solid;
}

.confusionmatrix {
   border: 1px solid;
}

.webmaintext {
  color: green;
}

.dropbtn {
  font-size: 16px;
  border: 2px black solid;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 16px;
  background-color: #f9f9f9;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

